{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}

 

 {% block body %}
 {% load static %}

 <div class="container mt-4">
 <!--Slideshow starts here -->
  {% for i in product|slice:"1:"%}


<table class="table table-hover">
  <thead>
    <tr> 
      <th>Cart ID</th>
      <th>Cart Items</th>
      <th>Baker Name</th>
      <th>Product Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{i.product_name}}</td>
      <td>{{ object.product }}</td>                      
      <td>{{ object.product.baker }}</td>   
      <td>{{ object.product.price }}</td>
    </tr>
  </tbody>
</table>
{% endfor %}


</div>
 {% endblock body %}